/.vscode
/binarysearch.cpp
/binarysearch.exe
/BubbleSort.cpp
/BubbleSort.exe
/build
/catalanno.c
/catalanno.exe
/cc++concepts.cpp
/debug.py
/DSA
/HSK
/Labs
/N_queens
/pro.c
/pro.exe
/Projects
/tempCodeRunnerFile.c